@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 24px 24px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.03) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }

  /* Custom scrollbar for Webkit */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
